<ion-header>
  <ion-toolbar color="primary" fixed>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="preference.currentTab"></ion-back-button>
    </ion-buttons>
    <div>
      <ion-searchbar disabled="true" searchIcon="navigate" showClearButton="never" class="text-small" mode="ios"
        [(ngModel)]="params.address" (click)="onPresentLocationSelectModal()"
        [placeholder]="'ENTER_LOCATION' | translate" inputmode="search" type="search"></ion-searchbar>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true">

  <ion-grid fixed>
    <div>

      <!-- Top Slide List -->

      <div class="ion-margin-bottom" *ngIf="slidesTop?.length">
        <swiper (swiper)="onSwiperTopInitialized($event)" [config]="slideTopOpts">
          <ng-template swiperSlide *ngFor="let slide of slidesTop">
            <div class="ion-activatable full-width" (click)="onSlideTouched(slide)">
              <div class="slide-img" [style.background-image]="'url(' + slide.image?._url + ')'">
              </div>
              <ion-ripple-effect type="bounded"></ion-ripple-effect>
            </div>
          </ng-template>
        </swiper>
      </div>

      <div class="ion-padding">

        <ion-item class="text-medium" lines="none" color="white">
          <ion-input #txtSearchInput (keyup)="onSubmitSearch($event)" enterkeyhint="search" type="text"
            [placeholder]="'SEARCH_HOME_PLACEHOLDER' | translate">
          </ion-input>
          <ion-button class="btn-search ion-no-margin" fill="clear" color="primary" slot="end"
            (click)="onSubmitSearch($event)">
            <ion-icon slot="icon-only" color="medium" name="search"></ion-icon>
          </ion-button>
        </ion-item>
        
        <ion-row class="ion-align-items-center ion-padding-horizontal">
          <ion-col size="12">
            <h2 class="text-normal padding-small bold" style="margin-inline-start: -16px !important;">
             ALL BLOOD REQUIRED
            </h2>
          </ion-col>
        </ion-row>

        <ion-row [@staggerIn]="places.length">
          <ion-col size-xs="6" size-sm="4" size-md="3" *ngFor="let item of BloodRequiredArr">
            <ion-card button class="shadow ion-no-margin ion-margin-bottom" (click)="goToDetailPage(item)">
              <div class="bg-img">
                <img *ngIf="item.bloodRequiredTypeId == 1" class="bg-img" src="assets\images\Blood\A+.png" />
                <img *ngIf="item.bloodRequiredTypeId == 2" class="bg-img" src="assets\images\Blood\B+.png" />
                <img *ngIf="item.bloodRequiredTypeId == 3" class="bg-img" src="assets\images\Blood\AB+.png" />
                <img *ngIf="item.bloodRequiredTypeId == 4" class="bg-img" src="assets\images\Blood\o+.png" />
                <img *ngIf="item.bloodRequiredTypeId == 5" class="bg-img" src="assets\images\Blood\A-.png" />
                <img *ngIf="item.bloodRequiredTypeId == 6" class="bg-img" src="assets\images\Blood\B-.png" />
                <img *ngIf="item.bloodRequiredTypeId == 7" class="bg-img" src="assets\images\Blood\AB-.png" />
                <img *ngIf="item.bloodRequiredTypeId == 8" class="bg-img" src="assets\images\Blood\o-.png" />
              </div>

              <ion-card-content>
                <div class="ion-text-nowrap">
                  <ion-text color="dark">
                    <h2 class="bold ellipsis text-medium">{{ item.description }}</h2>
                  </ion-text>
                  <p class="ellipsis text-small">
                    <ion-text color="medium">
                      <span>{{item.addressInfo}}</span>&nbsp;
                    </ion-text>
                  </p>
                  <ion-text color="medium">
                    <span>{{item.email}}</span>&nbsp;
                  </ion-text><br />
                  <ion-text color="medium">
                    <span>{{item.createdDate | date:'MMM dd hh.mm a'}}</span>&nbsp;
                  </ion-text>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>

        <ion-infinite-scroll *ngIf="isContentViewVisible && places.length" (ionInfinite)="onLoadMore($event)">
          <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>

        <div class="ion-margin-vertical" *ngIf="slidesBottom?.length">
          <swiper (swiper)="onSwiperBottomInitialized($event)" [config]="slideBottomOpts">
            <ng-template swiperSlide *ngFor="let slide of slidesBottom">
              <div class="ion-activatable full-width" (click)="onSlideTouched(slide)">
                <div class="slide-img" style="height: 100px;"
                  [style.background-image]="'url(' + slide.image?._url + ')'">
                </div>
                <ion-ripple-effect type="bounded"></ion-ripple-effect>
              </div>
            </ng-template>
          </swiper>
        </div>

      </div>

    </div>
  </ion-grid>

  <app-footer class="hide-xs-up show-lg-up"></app-footer>

</ion-content>