<ion-header>
  <ion-toolbar color="primary" fixed>
    <ion-buttons slot="end">
      <ion-button (click)="onDismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div>
      <ion-searchbar disabled="true" searchIcon="navigate" showClearButton="never" class="text-small" mode="ios"
        [(ngModel)]="params.address" [placeholder]="'ENTER_LOCATION' | translate" inputmode="search"
        type="search"></ion-searchbar>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content #container>

  <ion-grid fixed>
    <ion-row class="ion-align-items-center ion-padding-horizontal">
      <h2 class="text-normal padding-small bold" style="margin-inline-start: -16px !important;">
        PRODUCT'S DETAIL
      </h2>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size-xs="12" size-lg="10">
        <section>

          <div  *ngFor="let product of productDetails;let i = index;">
            <div class="ion-text-wrap" *ngIf="i < 1">
              <ion-item class="transparent" style="--padding-start: 0" lines="none">
                <ion-label class="ion-text-nowrap">
                  <ion-text color="dark">
                    <h2 class="bold ellipsis">
                      {{product.clientName}}
                    </h2>
                  </ion-text>
                  <ion-text color="dark">
                    <h4 class="ellipsis">
                      {{product.productName}}
                    </h4>
                  </ion-text>
                </ion-label>
              </ion-item>

              <swiper (swiper)="onSwiperTopInitialized($event)" [config]="slideTopOpts"
                *ngIf="productFiles.length == 0">
                <ng-template swiperSlide>
                  <div class="ion-activatable full-width">
                    <div class="slide-img" [style.background-image]="'url(' + getImageUrl() + ')'">
                    </div>
                    <ion-ripple-effect type="bounded"></ion-ripple-effect>
                  </div>
                </ng-template>
              </swiper><br />

              <swiper (swiper)="onSwiperTopInitialized($event)" [config]="slideTopOpts">
                <ng-template swiperSlide *ngFor="let slide of productFiles">
                  <div class="ion-activatable full-width">
                    <div class="slide-img" [style.background-image]="'url(' + slide.filePathwithExtension + ')'">
                    </div>
                    <ion-ripple-effect type="bounded"></ion-ripple-effect>
                  </div>
                </ng-template>
              </swiper><br />

              <div class="radius" style="background: var(--ion-color-white-tint)">
                <div *ngIf="product.productDescribtion">
                  <ion-item>
                    <ion-text color="dark">
                      <p class="text-medium">
                        DESCRIPTION
                      </p>
                    </ion-text>
                  </ion-item>

                  <ion-item>
                    <ion-text color="dark">
                      <p class="text-medium">{{product.productDescribtion}}
                      </p>
                    </ion-text>
                  </ion-item>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section>
          <ion-item class="transparent">
            <ion-label class="ion-text-nowrap">
              <ion-text color="dark">
                <h2 class="bold ellipsis">
                  UOM & PRICE DETAILS
                </h2>
              </ion-text>
            </ion-label>
          </ion-item>

          <ion-row style="background: var(--ion-color-white-tint); margin: 5px 15px 5px 15px;"
            *ngFor="let product of productDetails">
            <ion-col>
              <p>{{product.uoM_Value + product.uoM_ShortName}}</p>
            </ion-col>

            <ion-col>
              <p *ngIf="product.productOffer == 0 || todayDate > product.offerEndDate || product.offerEndDate ==
                null">
                <strong>{{product.totalPrice | currency: "INR"}}</strong>
              </p>

              <p *ngIf="product.productOffer> 0 && product.offerEndDate >= todayDate">
                <strong>{{product.totalPrice | currency: "INR"}}
                </strong>
            </ion-col>
          </ion-row>
        </section>

      </ion-col>
    </ion-row>
  </ion-grid>

  <app-footer class="hide-xs-up show-lg-up"></app-footer>

</ion-content>