ion-content {
  // --background: var(--ion-color-light);
}

ion-grid {
  padding: 0;
}

.swiper {
  --bullet-background: var(--ion-color-light);
  --bullet-background-active: var(--ion-color-secondary);
  --swiper-navigation-color: var(--ion-color-secondary);

  .bg-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    width: 100%;
  }
}

.skeleton-banner {
  height: 200px;
  margin: 0;
}

ion-avatar {
  margin: 0 12px 0 0 !important;

  img {
    background: var(--ion-color-secondary);
  }
}

ion-thumbnail {
  --border-radius: 6px;
  width: 80px;
  height: 80px;
}

// ion-list {
//   background: var(--ion-color-light);
// }

.flex-start {
  display: flex;
  align-items: flex-start;
}

.review-count {
  margin-left: 6px;
}

.icon-share {
  font-size: 48px;
}

@media (min-width: 0px) and (max-width: 575px) {

  ion-grid>ion-row>ion-col,
  section>ion-row>ion-col {
    padding: 0 !important;
  }

  .radius {
    border-radius: 0 !important;
  }
}

@media only screen and (min-width: 992px) {

  ion-grid>ion-row>ion-col,
  section>ion-row>ion-col {
    padding-top: 0;
  }

  ion-thumbnail {
    width: 100px;
    height: 100px;
  }

  .swiper {
    .bg-img {
      height: 300px;
    }
  }

  .skeleton-banner {
    height: 300px;
  }
}

ion-card {
  border-radius: 6px;
  background-color: var(--ion-color-white-tint);

  .bg-img1 {
    background-size: cover;
    background-position: center;
    width: var(--image-width, 100%);
    height: var(--image-height, 200px);
    position: relative;

    &.ng-lazyloaded::before {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    ion-badge {
      font-size: 12px;
      position: absolute;
      right: 0;
      top: 0;
      --padding-top: 6px;
      --padding-bottom: 6px;
      --padding-start: 16px;
      --padding-end: 16px;
    }

    .rating {
      position: absolute;
      bottom: 8px;
      left: 8px;
    }

    ion-chip {
      background: rgba(var(--ion-color-base-rgb), 0.9);
      color: #222;
      position: absolute;
      bottom: 8px;
      right: 8px;
    }
  }

  ion-card-content {
    padding: var(--content-padding, 8px) !important;
  }
}

ion-thumbnail iframe {
  width: 100%;
  height: 100%;
}

.iframe-container {
  position: relative;
  overflow: hidden;
  padding-bottom: 56.25%;
  /* 16:9 aspect ratio */
  border: 1px solid #ddd;
  /* Optional: Add a border for a better visual effect */
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.videoTitle {
  font-size: 20px;
  color: #858484;
  font-weight: 600;
}

.Cardtitle {
  font-weight: bolder;
  // text-align: center;
  font-size: 23px;
  color: #979797;
}

.slot {
  text-align: center;
}

.slotTime {
  text-align: center;
}

.workingdays {
  color: #7e89ee;
  font-size: 14px;
  font-family: serif;
  font-weight: bold;
}

.abtus {
  font-size: 18px;
  color: #4545da;
  font-weight: 800;
  padding: 8px 0px 8px 0px;
}

ion-content {
  height: auto;
}

.tabLable {
  border: 1px solid #a4a4a4;
  padding: 5px 8px;
  border-radius: 33px;
  color: #fb296b;
  font-weight: bold;
  font-size: 11px;
}

ion-segment-button.segment-checked .tabLable {
  color: #2c29fb !important;
}

.tabLabel.active {
  color: red !important;
}