<ion-header>
  <ion-toolbar color="primary" fixed>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="preference.currentTab"></ion-back-button>
    </ion-buttons>
    <ion-title class="bold"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #container>

  <ion-grid fixed>
    <ion-row class="ion-align-items-center ion-padding-horizontal">
      <ion-col size="12">
        <h2 class="text-normal padding-small bold" style="margin-inline-start: -16px !important;">
          EVENT INFO
        </h2>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size-xs="12" size-lg="10">

        <section class="ion-margin-top">

          <ion-row>

            <ion-col size="12">
              <swiper (swiper)="onSwiperTopInitialized($event)" [config]="slideTopOpts">
                <ng-template swiperSlide *ngFor="let slide of eventFiles">
                  <div class="ion-activatable full-width">
                    <div class="slide-img" [style.background-image]="'url(' + slide.filePathwithExtension + ')'">
                    </div>
                    <ion-ripple-effect type="bounded"></ion-ripple-effect>
                  </div>
                </ng-template>
              </swiper>
            </ion-col>

            <ion-col size-xs="12" size-lg="5">
              <div class="radius ion-padding" style="background: var(--ion-color-white-tint)">

                <ion-list class="ion-no-margin transparent" *ngFor="let item of eventsArr">

                  <ion-row>
                    <ion-col size="4">
                      <span class="text-small bold">Event Name</span>
                    </ion-col>
                    <ion-col>
                      <span class="text-medium">{{ item?.eventTitle }}</span>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col size="4">
                      <span class="text-small bold">Date</span>
                    </ion-col>
                    <ion-col>
                      <span class="text-medium">
                        From {{item.startDateTime | date : 'yyyy-MM-dd'}} To {{item.endDateTime | date :
                        'yyyy-MM-dd'}}
                      </span>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col size="4">
                      <span class="text-small bold">Description</span>
                    </ion-col>
                    <ion-col>
                      <span class="text-medium">{{ item?.eventDescription }}</span>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col size="4">
                      <span class="text-small bold">Email</span>
                    </ion-col>
                    <ion-col>
                      <span class="text-medium">{{ item?.email }}</span>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col size="4">
                      <span class="text-small bold">Address Info</span>
                    </ion-col>
                    <ion-col>
                      <span class="text-medium">{{ item?.addressInfo }}</span>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col size="4">
                      <span class="text-small bold">City Name</span>
                    </ion-col>
                    <ion-col>
                      <span class="text-medium">{{ item?.cityName }}</span>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col size="4">
                      <span class="text-small bold">Contact Info</span>
                    </ion-col>
                    <ion-col>
                      <span class="text-medium">{{ item?.contactInfo }}</span>
                    </ion-col>
                  </ion-row>

                </ion-list>

              </div>
            </ion-col>
          </ion-row>

        </section>

      </ion-col>
    </ion-row>
  </ion-grid>

  <app-footer class="hide-xs-up show-lg-up"></app-footer>

</ion-content>