<ion-header>
  <ion-toolbar color="primary" fixed>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="preference.currentTab"></ion-back-button>
    </ion-buttons>
    <ion-title class="bold"></ion-title>
    <ion-buttons slot="end">
      <ion-button [disabled]="!place">
        <ion-icon slot="icon-only" [name]="isLiked ? 'heart' : 'heart-outline'"></ion-icon>
      </ion-button>
      <ion-button class="btn-share" [disabled]="!place">
        <ion-icon slot="icon-only" name="share-social-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content #container>

  <ion-grid fixed>
    <ion-row class="ion-justify-content-center">
      <ion-col size-xs="12" size-lg="10">

        <section>

          <!-- <ion-row>
            <ion-col size="12">
              <swiper (swiper)="onSwiperTopInitialized($event)" [config]="slideTopOpts">
                <ng-template swiperSlide *ngFor="let slide of eventFiles">
                  <div class="ion-activatable full-width">
                    <div class="slide-img" [style.background-image]="'url(' + slide.filePathwithExtension + ')'">
                    </div>
                    <ion-ripple-effect type="bounded"></ion-ripple-effect>
                  </div>
                </ng-template>
              </swiper>
            </ion-col>
          </ion-row> -->
        </section>

        <section class="ion-margin-top">

          <ion-row>

            <ion-col size="12">
              <swiper (swiper)="onSwiperTopInitialized($event)" [config]="slideTopOpts">
                <ng-template swiperSlide *ngFor="let slide of eventFiles">
                  <div class="ion-activatable full-width">
                    <div class="slide-img" [style.background-image]="'url(' + slide.filePathwithExtension + ')'">
                    </div>
                    <ion-ripple-effect type="bounded"></ion-ripple-effect>
                  </div>
                </ng-template>
              </swiper>
            </ion-col>

            <ion-col size-xs="12" size-lg="5">
              <div class="radius ion-padding" style="background: var(--ion-color-white-tint)">

                <ion-list class="ion-no-margin transparent" *ngFor="let item of eventsArr">
                  <ion-item class="transparent">
                    <ion-text slot="start">
                      <span class="text-medium bold">Event Name</span>
                    </ion-text>
                    <ion-label>
                      <ion-text color="tertiary">
                        <span class="text-medium">{{ item?.eventTitle }}</span>
                      </ion-text>
                    </ion-label>
                  </ion-item>

                  <ion-item class="transparent">
                    <ion-text slot="start">
                      <span class="text-medium bold">Date</span>
                    </ion-text>
                    <ion-label>
                      <ion-text color="tertiary">
                        <span class="text-medium">
                          From {{item.startDateTime | date : 'yyyy-MM-dd'}} To {{item.endDateTime | date : 'yyyy-MM-dd'}}
                        </span>
                      </ion-text>
                    </ion-label>
                  </ion-item>

                  <ion-item class="transparent">
                    <ion-text slot="start">
                      <span class="text-medium bold">Description</span>
                    </ion-text>
                    <ion-label>
                      <ion-text color="tertiary">
                        <span class="text-medium">{{ item?.eventDescription }}</span>
                      </ion-text>
                    </ion-label>
                  </ion-item>

                  <ion-item class="transparent">
                    <ion-text slot="start">
                      <span class="text-medium bold">Email</span>
                    </ion-text>
                    <ion-label>
                      <ion-text color="tertiary">
                        <span class="text-medium">{{ item?.email }}</span>
                      </ion-text>
                    </ion-label>
                  </ion-item>

                  <ion-item class="transparent">
                    <ion-text slot="start">
                      <span class="text-medium bold">Address Info</span>
                    </ion-text>
                    <ion-label>
                      <ion-text color="tertiary">
                        <span class="text-medium">{{ item?.addressInfo }}</span>
                      </ion-text>
                    </ion-label>
                  </ion-item>

                  <ion-item class="transparent">
                    <ion-text slot="start">
                      <span class="text-medium bold">City Name</span>
                    </ion-text>
                    <ion-label>
                      <ion-text color="tertiary">
                        <span class="text-medium">{{ item?.cityName }}</span>
                      </ion-text>
                    </ion-label>
                  </ion-item>

                  <ion-item class="transparent">
                    <ion-text slot="start">
                      <span class="text-medium bold">Contact Info</span>
                    </ion-text>
                    <ion-label>
                      <ion-text color="tertiary">
                        <span class="text-medium">{{ item?.contactInfo }}</span>
                      </ion-text>
                    </ion-label>
                  </ion-item>
                </ion-list>

              </div>
            </ion-col>
          </ion-row>

        </section>

      </ion-col>
    </ion-row>
  </ion-grid>

  <app-footer class="hide-xs-up show-lg-up"></app-footer>

</ion-content>